.dot {
  -webkit-animation: bob 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
          animation: bob 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  border-radius: 100%;
  float: left;
  height: 1.5rem;
  width: 1.5rem;
  -webkit-transform: translateY(-23%);
          transform: translateY(-23%);
}
.dot:not(:last-child) {
  margin-right: 1.5rem;
}
.dot:nth-child(1) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  background-color: #4285F4;
}
.dot:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  background-color: #EA4335;
}
.dot:nth-child(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
  background-color: #FBBC05;
}
.dot:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  background-color: #34A853;
}

@-webkit-keyframes bob {
  0% {
    -webkit-transform: translateY(-23%);
            transform: translateY(-23%);
  }
  50% {
    -webkit-transform: translateY(23%);
            transform: translateY(23%);
  }
  100% {
    -webkit-transform: translateY(-23%);
            transform: translateY(-23%);
  }
}

@keyframes bob {
  0% {
    -webkit-transform: translateY(-23%);
            transform: translateY(-23%);
  }
  50% {
    -webkit-transform: translateY(23%);
            transform: translateY(23%);
  }
  100% {
    -webkit-transform: translateY(-23%);
            transform: translateY(-23%);
  }
}
body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
